<ion-item-group>
  <ion-item-divider color="secondary">
    <fa-icon icon="location-arrow"></fa-icon>&nbsp;
    Location (Current
    Accuracy: {{ lastLocation && lastLocation.coords ? ((lastLocation.coords.accuracy | number: '1.0-0') || 'Waiting for Reading...') : 'Waiting for Reading...' }}
    )
    <br/>
    <br/><br/>
    <ion-button *ngIf="!readonly" color="primary" (click)="openModal()" class="item-divider-button-map">
      <ion-icon name="pin"></ion-icon>&nbsp; Map
    </ion-button>

    <ion-button *ngIf="!readonly" color="primary" (click)="updateLocationFields()" class="item-divider-button">
      <ion-icon name="locate"></ion-icon>&nbsp; GPS
    </ion-button>

  </ion-item-divider>

  <ion-item *ngFor="let field of formDescriptor.locationFields" [ngSwitch]="field.type">
    <ion-label
      color="{{ form.controls[field.key].errors && form.controls[field.key].dirty ? 'danger' : '#000' }}"
      stacked>
      {{ field.label }}
      <span *ngIf="form.controls[field.key].errors && form.controls[field.key].dirty">
                      ({{ getFieldError(field) }})
                  </span>
    </ion-label>

    <ion-input *ngSwitchCase="'integer'"
               [formControlName]="field.key"
               mbsc-numpad-decimal
               [readonly]="readonly"
               [disabled]="readonly"
               [placeholder]="field.description || ''">
    </ion-input>

    <ion-input *ngSwitchCase="'number'"
               [formControlName]="field.key"
               mbsc-numpad-decimal
               [readonly]="readonly"
               [disabled]="readonly">
    </ion-input>

    <ion-input *ngSwitchDefault
               [type]="field.type"
               [formControlName]="field.key"
               [readonly]="readonly"
               [disabled]="readonly">
    </ion-input>
  </ion-item>
</ion-item-group>
